<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EMSMaterialPreparation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
          <add key="Username" value="TRIGERRING" />
       <add key="Password" value="SAP@1234" />
  </appSettings>
    <applicationSettings>
        <EMSMaterialPreparation.Properties.Settings>
            <setting name="EMSMaterialPreparation_GETProductionInfo_ZWM_MY_I_PROD_SCHED"
                serializeAs="String">
                <value>http://SMPPDI01.pasmydc.local:8000/sap/bc/srt/rfc/sap/zwm_my_i_prod_sched/010/zwm_my_i_prod_sched/prod_sched</value>
            </setting>
            <setting name="EMSMaterialPreparation_GET_STOCK_PASMY_EMS_ZIM_GET_EMS_STOCK"
                serializeAs="String">
                <value>http://SMPPDI01.pasmydc.local:8000/sap/bc/srt/rfc/sap/zim_get_ems_stock/010/zim_get_ems_stock/ems_stock</value>
            </setting>
            <setting name="EMSMaterialPreparation_GETEMSVENDORSTOCK_ZIM_GET_VENDOR_STOCK"
                serializeAs="String">
                <value>http://SMPPDI01.pasmydc.local:8000/sap/bc/srt/rfc/sap/zim_get_vendor_stock/010/zim_get_vendor_stock/vendor_stock</value>
            </setting>
            <setting name="EMSMaterialPreparation_BARC_STOCK_ZWM_MY_I_BARC_STOCK"
                serializeAs="String">
                <value>http://SMPPDI01.pasmydc.local:8000/sap/bc/srt/rfc/sap/zwm_my_i_barc_stock/010/zwm_my_i_barc_stock/barc_stock</value>
            </setting>
            <setting name="EMSMaterialPreparation_GET_LOCATION_ZWM_I_MFRPN_BARC"
                serializeAs="String">
                <value>http://SMPPDI01.pasmydc.local:8000/sap/bc/srt/rfc/sap/zwm_i_mfrpn_barc/010/zwm_i_mfrpn_barc/mfrpn_barc</value>
            </setting>
        </EMSMaterialPreparation.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>